/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #201e12;
    color: #381a09;
}

header {
    background-color: #47341c;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo img {
    max-width: 125px;
}

.Logo1 img {
    max-width: 250px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #7e685b;
}

.hero {
    text-align: center;
    padding: 150px 0;
    background-image: url('hero-bg.jpg');
    background-size: cover;
    color: white;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 40px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4c3c32;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #7e685b;
    box-shadow: 4px 4px 8px rgba(104, 101, 101, 0.5);
}

.menu {
    padding: 100px 0;
    background-color: #ede4d6;
    text-align: center;
    border-bottom: #47341c solid 1px;
}

.menu-item {
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 30px;
    line-height: 25px;
}

.menu-item ul {
    list-style-type: none;

}

.menu-item ul li {
    margin-bottom: 5px;
}

.menu h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.about {
    padding: 100px 0;
    text-align: center;
    background-color: #ede4d6;
}

.about h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
}

.contact {
    padding: 100px 0;
    text-align: center;
    background-color: #4c3c32;
    color: white;
}

.contact h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.contact p {
    font-size: 18px;
    margin-bottom: 40px;
}

footer {
    font-family: Arial, sans-serif;
    background-color: #221d1a;
    color: white;
    text-align: center;
    padding: 20px 0;
}